@{
	ViewData["Title"] = "Home Page";
}

<div>
	<div class="wrapper">
		<textarea id="code_editor">
public class Program
{
	private static void Main(string[] args)
	{
		Console.WriteLine("Hello, World!");
	}
}
		</textarea>
		<div class="info_wrapper">
			<div class="instructions">
				<div class="topic">Task name</div>
				<div class="task_description">Write a function which receives 4 digits and returns the latest time of day that can be built with those digits.</div>
				<div class="heading">Input</div>
				<div class="task_inputs">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</div>
				<div class="heading">Output</div>
				<div class="task_outputs">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</div>
				<ul class="notes">
					<li>Estimated time must be less than 3 seconds</li>
				</ul>
			</div>

			<div class="compile_wrapper">
				<button onclick="Compile()" class="compile_button">Run <i class="fa-solid fa-play"></i></button>
				<div class="compilation_stage" data-stage="build" data-status="default">
					<div class="title">
						<div class="success icon">
							<i class="fa-regular fa-circle-check"></i>
						</div>
						<div class="fail icon">
							<i class="fa-regular fa-circle-xmark"></i>
						</div>
						<div class="wait icon">
							<i class="fa-solid fa-spinner"></i>
						</div>
						<div class="default icon">
							<i class="fa-regular fa-circle-pause"></i>
						</div>
						<div class="topic">Build</div>
					</div>
					<div class="result" data-stage="build">
					</div>
				</div>

				<div class="compilation_stage" data-stage="run" data-status="default">
					<div class="title">
						<div class="success icon">
							<i class="fa-regular fa-circle-check"></i>
						</div>
						<div class="fail icon">
							<i class="fa-regular fa-circle-xmark"></i>
						</div>
						<div class="wait icon">
							<i class="fa-solid fa-spinner"></i>
						</div>
						<div class="default icon">
							<i class="fa-regular fa-circle-pause"></i>
						</div>
						<div class="topic">Run</div>
					</div>
					<div class="result" data-stage="run">
					</div>
				</div>

				<div class="compilation_stage" data-stage="tests" data-status="default">
					<div class="title">
						<div class="success icon">
							<i class="fa-regular fa-circle-check"></i>
						</div>
						<div class="fail icon">
							<i class="fa-regular fa-circle-xmark"></i>
						</div>
						<div class="wait icon">
							<i class="fa-solid fa-spinner"></i>
						</div>
						<div class="default icon">
							<i class="fa-regular fa-circle-pause"></i>
						</div>
						<div class="topic">Tests</div>
					</div>
					<div class="result" data-stage="tests">
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>

@section Scripts {
	<script src="~/js/compiler.js"></script>
}